<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-bottom sticky-top">
    <div class="container">
      <h1>
        <a href="index.html" class="navbar-logo">程式家教</a>
      </h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-symbols-outlined text-primary align-middle">
          drag_handle
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mt-5 mt-md-6 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-4 py-md-2 text-center" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 py-md-2 text-center" href="introduce.html">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 py-md-2 text-center d-flex align-items-center justify-content-center" href="#">
              <span class="material-symbols-outlined nav-icon">
                account_circle
              </span>
              登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

    <footer class="bg-black-10 py-4 py-md-5">
      <div class="container">
        <p class="fs-6 fs-lg-5 text-center text-gray-10 font-Azeret">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>