@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

@mixin bg-size($w1, $h1, $w2, $h2) {
    background-size: $w1 $h1, $w2 $h2;
}

@mixin bg-pos($RL, $UD, $rl, $ud) {
    background-position: $RL $UD, $rl $ud;
}

@mixin bg-size-pos ($size, $position) {
    background-size: $size;
    background-position: $position;
}

@mixin gradient-text($deg, $start, $end) {
    background: linear-gradient($deg, $start, $end);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-bg($deg, $start, $end) {
    background: linear-gradient($deg, $start, $end);
}

.btn-22 {
    @include gradient-bg(104deg, $secondary, $primary)
}

.btn-11 {
    @include gradient-text(180deg, $secondary, $primary)
}

.box {
    background: linear-gradient(180deg, #09ACF5, #62DB54);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg1 {
    background-size: cover;
    background-position: center;
}