@include media-breakpoint-up(md) {
    .w-md-50 {
        width: 50%;
    }

}

@include media-breakpoint-up(lg) {

    @each $key,
    $value in $font-lg-sizes {
        .fs-lg-#{$key} {
            font-size: $value !important;
        }
    }
}


.font-Azeret {
    font-family: $font-Azeret;
}

.hover-bg {
    transition: 0.5s;
    border: 1px solid transparent;

    &:hover {
        background: $black-300;
        border: 1px solid $primary;
    }
}