.navbar {
    &-logo {
        display: block;
        background: url(../images/logo2.svg), no-repeat;
        width: 24px;
        height: 24px;
        @include hide-text;

        @include media-breakpoint-up(md) {
            background: url(../images/logo.svg), no-repeat;
            width: 175px;
            height: 42px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 74px;
        right: 0;
        left: 50%;
        border-bottom: 2px solid $secondary;
    }

    &::before {
        content: "";
        position: absolute;
        top: 74px;
        left: 0;
        right: 50%;
        border-bottom: 2px solid $primary;
    }

    @include media-breakpoint-up(md) {

        &::before,
        &::after {
            top: 90px;
        }
    }



}

.nav-icon {
    padding-right: 6px;
}

.navbar-toggler {
    border: 1px solid transparent;

    &:focus {
        border-color: $primary;
    }

}